#header nav {
    position: relative;
    border: 1px solid rgb(201, 201, 201);
}

#search-and-login {
    display: flex;
    justify-content: center;
}

#login-button {
    margin-left: 2.5vw;
    margin-right: 0.5vw;
}