/* Reset properties changed by bootstrap */

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login form label {
    margin-right: 10px;
}

fieldset, legend {
    all: revert;
}

fieldset {
    width: fit-content;
}