/* #home {
    background-color: rgb(250, 183, 158);
} */

.carousel-image {
    height: 400px;
}

#home h3 {
    margin-top: 1em;
    margin-bottom: 0.7em;
    background-color: wheat;
    padding: 0.7em;
    border: 3px solid black;

}